
 @import url('https://fonts.googleapis.com/css?family=LatoLato:900|Nunito');

 p{
  font-family: 'Lato', sans-serif;

 }
h1, h2, h3, h4 ,h5{
  font-family: 'Nunito', sans-serif;
}
.text-manias{
  border-left: 6px solid #fa4038;
  top: 0;
  bottom: 0;

}
.text-orange{
  color: #fa4038;
font-size: 60px;
font-weight: bolder;
}
.logo{
  max-width: 25%;
}
.logo-roland{
width: 37%;
margin-top: -135px;
margin-bottom: 170px;
}
.space{
  background-color: #fa4038!important;
}

.bg-mountain{
  background-image: url("../images/PARTE_1/conjunto_de_manias.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

}
.parallax{
  background-image: url("../images/PARTE_1/fondo.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#mainNav a{
color:white;
}
#mainNav {
  border-color: #fa4038!important;
  background-color: #fa4038!important;
/*   padding-bottom: 190px;
 */
}
#mainNav {
  border-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  background-color: #7b4397;

}


#mainNav .navbar-brand {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: white;
}

#mainNav .navbar-nav > li > a {
  font-size: 16px;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: white !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a, select
#mainNav .navbar-nav > li > a select:focus {
  color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: white; 
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: white;
;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: white;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: white;
  }


}
.arrow-bottom{
margin: auto;
}
section{
  background-color: #fa4038;
/*   height: 100vh;
    min-height: 740px;
    padding-top: 0;
    padding-bottom: 0;
 */}
.row{
 margin-right: 0px!important;
  margin-left: 0px!important;
}
.maniNatural{
  object-fit: cover;
  width: auto;
}
.bg-Manis{
  background-image: url("../images/PARTE_2/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-color: white;

}
.btn-orange {
  border-radius: 25px;
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 20%;
  text-align: center;
  line-height: 3;
  color: white;
  font-size: 16px;
  margin-top: 30px;
}


.btn-orange:link, .btn-orange:visited, .btn-orange:focus {
  background: #fa4038;

}

.btn-orange:hover {     
  background: white;
  color:#fa4038;
  border: 1px solid #fa4038;

  text-decoration: none;
}

.btn-orange:active {
  background: red;
  color: white;
}
li {
  margin-bottom: 10px;
}

.nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.nav-link:hover::after {
  width: 100%;
}
.nav-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: width .3s;
}
.nav-link{
  width: 150px;
    font-size: 11px!important;
    text-align: center;

}
@media only screen and (max-width: 600px) {

.btn-orange {
  border-radius: 25px;
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 80%;
  text-align: center;
  line-height: 3;
  color: white;
  font-size: 16px;
  margin-top: 30px;
}
}